**PANDAS**

**Series**

In [3]:
import pandas as pd
import numpy as np

In [12]:
#yeni bir sözlük oluşturma
benimSozlugum = {'Ali': 50, 'Ayse': 40}
dict1 = pd.Series(benimSozlugum)
dict1

Ali     50
Ayse    40
dtype: int64

In [13]:
pd.Series( ['Ali', 'Can'], [30,35])

30    Ali
35    Can
dtype: object

**DataFrame:** Serilerin birleşmiş halidir.

In [25]:
data = np.arange(50,67)
dataFrame= pd.DataFrame(data)
dataFrame
#Excel tablosu görünümü oluşturur.

     0
0   50
1   51
2   52
3   53
4   54
5   55
6   56
7   57
8   58
9   59
10  60
11  61
12  62
13  63
14  64
15  65
16  66

In [2]:
#istersek indexleri kendimiz belirleyebiliriz;
yeniDataFrame = pd.DataFrame( index = ["ali","ahmet","can"],columns = [1,2,3])
yeniDataFrame[[1,2,3]]

         1    2    3
ali    NaN  NaN  NaN
ahmet  NaN  NaN  NaN
can    NaN  NaN  NaN

In [65]:
# nan elemanlara değer atama:
yeniDataFrame = yeniDataFrame.fillna(5)
yeniDataFrame

       1  2  3   4
ali    5  5  5  10
ahmet  5  5  5  10
can    5  5  5  10

**Birleştirme İşlemi:**

In [60]:
yeniDataFrame[4] = yeniDataFrame[2] + yeniDataFrame[1]
yeniDataFrame

       1  2  3   4
ali    5  5  5  10
ahmet  5  5  5  10
can    5  5  5  10

In [61]:
# 'can' 'ın 2. attributeu;
yeniDataFrame.loc["can"][2]

5

In [67]:
# Değeri 5'ten büyük olan attributeları gösterir:
yeniDataFrame[yeniDataFrame>0]

       1  2  3   4
ali    5  5  5  10
ahmet  5  5  5  10
can    5  5  5  10

**Silme İşlemi**

In [66]:
yeniDataFrame.drop("can")

       1  2  3   4
ali    5  5  5  10
ahmet  5  5  5  10

**Pandas'la bazı temel işlemler**

desribe() -> min,max,mean,sum,std değerlerini gösterir.
mean() -> sütundaki sayısal değerlerin ortalamasını gösterir.
median()/mod() 
sum()/min()/max()/std()
var() -> varyansı hesaplar
count()
quantile() ->  sayısal değerlerin belirli yüzdelik dilimlerini hesaplar.
corr() -> korelasyon matrisini hesaplar.


Kullanımlarına ait örnekler aşağıda verilmiştir;

In [1]:

data = {
    'Öğrenci': ['Ali', 'Ayşe', 'Mehmet', 'Ahmet', 'Aylin', 'Mustafa', 'Can', 'Deniz'],
    'Ders': ['Matematik', 'Fizik', 'Kimya', 'Matematik', 'Fizik', 'Kimya', 'Matematik', 'Fizik', ],
    'Not': [90, 85, 95, 75, 80, 92, 87, 88]
}

df = pd.DataFrame(data)

# Veri çerçevesinin ilk 5 satırını gösterme
print(df.head())

# Not sütununun ortalaması
mean = df['Not'].mean()
print("Ortalama:", mean)

# Not sütununun medyanı
median = df['Not'].median()
print("Medyan:", median)

# Not sütununun modu
mode = df['Not'].mode()
print("Mod:", mode)

# Not sütununun toplamı
total = df['Not'].sum()
print("Toplam:", total)

# Not sütununun en küçük değeri
min_value = df['Not'].min()
print("En Küçük Değer:", min_value)

# Not sütununun en büyük değeri
max_value = df['Not'].max()
print("En Büyük Değer:", max_value)

# Not sütununun standart sapması
std = df['Not'].std()
print("Standart Sapma:", std)

# Not sütununun varyansı
var = df['Not'].var()
print("Varyans:", var)

# Not sütununda kaç adet değer var
count = df['Not'].count()
print("Toplam Sayı:", count)

# Not sütununun yüzdelik dilimleri (25%, 50%, 75%)
quantiles = df['Not'].quantile([0.25, 0.50, 0.75])
print("Yüzdelik Dilimler:")
print(quantiles)

# Not sütununun korelasyon matrisi
correlation = df['Not'].corr(df['Not'])
print("Korelasyon:", correlation)

  Öğrenci       Ders  Not
0     Ali  Matematik   90
1    Ayşe      Fizik   85
2  Mehmet      Kimya   95
3   Ahmet  Matematik   75
4   Aylin      Fizik   80
Ortalama: 86.5
Medyan: 87.5
Mod: 0    75
1    80
2    85
3    87
4    88
5    90
6    92
7    95
Name: Not, dtype: int64
Toplam: 692
En Küçük Değer: 75
En Büyük Değer: 95
Standart Sapma: 6.48074069840786
Varyans: 42.0
Toplam Sayı: 8
Yüzdelik Dilimler:
0.25    83.75
0.50    87.50
0.75    90.50
Name: Not, dtype: float64
Korelasyon: 1.0

**İndex Değiştirme**

In [68]:
yeniDataFrame.reset_index() # indexler 0,1,2,... olur.

   index  1  2  3   4
0    ali  5  5  5  10
1  ahmet  5  5  5  10
2    can  5  5  5  10

In [73]:
yeniDataFramelist = ["c","a","o"]
yeniDataFrame["Yeni index"] = yeniDataFramelist
yeniDataFrame.set_index("Yeni index", inplace = True)
yeniDataFrame

            1  2  3   4 Yeni indexler
Yeni index
c           5  5  5  10             c
a           5  5  5  10             a
o           5  5  5  10             o

**Multi-index:** Birden fazla index olduğu durumlarda kullanılır.

In [75]:
disindexler = ["Ali","Ayse","Orhan","Mehmet"] # dış indexler
icindexler = ["Kaya","Yılmaz","Oran","Tutkun"] # iç indexler
birlesmisindex = list(zip(disindexler,icindexler))
birlesmisindex

[('Ali', 'Kaya'), ('Ayse', 'Yılmaz'), ('Orhan', 'Oran'), ('Mehmet', 'Tutkun')]

**Gruplandırma**

In [79]:
# Tekrarlayan veriyi gruplandırma örneği;
maasSozlugu = {
    "Departman": ["Yazılım","Yazılım","Finans", "Finans"],
    "Ad": ["Ali","Ayse","Orhan","Mehmet"],
    "Maas": [200,300,400,500]
} 
#sözlüğümüzü oluşturduk.

In [89]:
dFrame = pd.DataFrame(maasSozlugu)
dFrame

  Departman      Ad  Maas
0   Yazılım     Ali   200
1   Yazılım    Ayse   300
2    Finans   Orhan   400
3    Finans  Mehmet   500

In [90]:
# departmana göre gruplandırma ve maaş hesaplama;
departman_gruplari = dFrame.groupby('Departman')
ortalama = departman_gruplari['Maas'].mean()
print("Departmana Göre Ortalamalar:")
print(ortalama)

Departmana Göre Ortalamalar:
Departman
Finans     450.0
Yazılım    250.0
Name: Maas, dtype: float64

**Veri Sıralama ve Filtreleme**

In [93]:
data = {
    'Öğrenci': ['Ali', 'Ayşe', 'Mehmet', 'Ahmet', 'Aylin', 'Mustafa', 'Ebru'],
    'Ders': ['Matematik', 'Fizik', 'Kimya', 'Matematik', 'Fizik', 'Kimya', 'Matematik'],
    'Not': [90, 85, 95, 75, 80, 92, 87]
}

df = pd.DataFrame(data)

# Not sütununa göre büyükten küçüğe sıralama
sirali_veri = df.sort_values(by='Not')
print("Notlara Göre Sıralı Veri:")
print(sirali_veri)

Notlara Göre Sıralı Veri:
   Öğrenci       Ders  Not
3    Ahmet  Matematik   75
4    Aylin      Fizik   80
1     Ayşe      Fizik   85
6     Ebru  Matematik   87
0      Ali  Matematik   90
5  Mustafa      Kimya   92
2   Mehmet      Kimya   95

In [95]:
# Matematik dersine ait verileri filtreleme
matematik_verileri = df[df['Ders'] == 'Matematik']
print("Matematik Dersine Ait Veriler:")
print(matematik_verileri)

Matematik Dersine Ait Veriler:
  Öğrenci       Ders  Not
0     Ali  Matematik   90
3   Ahmet  Matematik   75
6    Ebru  Matematik   87

In [96]:
# Notu 85'ten büyük olan öğrencileri filtreleme
yüksek_notlar = df[df['Not'] > 85]
print("85'ten Büyük Nota Sahip Öğrenciler:")
print(yüksek_notlar)

85'ten Büyük Nota Sahip Öğrenciler:
   Öğrenci       Ders  Not
0      Ali  Matematik   90
2   Mehmet      Kimya   95
5  Mustafa      Kimya   92
6     Ebru  Matematik   87

**Concatenation (Birleştirme)**

In [110]:
sozluk1 = { "isim": ["ali","ayse","mehmet"],
            "soyisim" : ["kaya","yılmaz","oran"]
          }
sozluk2 = { "yas": [25,26,27],
            "departman" : ["yazılım","finans","hukuk"]
          }
# bu iki sözlüğü birleştirelim:
df1 = pd.DataFrame(sozluk1,index=[1,2,3])
df2 = pd.DataFrame(sozluk2,index=[4,5,6])
birlesik_df = pd.concat([df1, df2], axis=1)
print(birlesik_df)

     isim soyisim   yas departman
1     ali    kaya   NaN       NaN
2    ayse  yılmaz   NaN       NaN
3  mehmet    oran   NaN       NaN
4     NaN     NaN  25.0   yazılım
5     NaN     NaN  26.0    finans
6     NaN     NaN  27.0     hukuk